// Components - Articles

.article {
  width: 100%;
  padding: 0 10px;
  margin: 16px 0 27px;
  text-align: left;
  box-sizing: border-box;

  .article-cover {
    display: block;
    width: 100%;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    object-fit: cover;
  }

  &:nth-of-type(3n),
  &:nth-of-type(4n) {
    padding-left: 20px;
  }
}

.article-content {
  padding: 22px 30px 22px 30px;
  background-color: $white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  .article-author {
    display: block;
    font-size: .6rem;
  }

  .article-title {
    display: block;
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: -.3px;
    color: $dark-blue;
  }

  p {
    margin: 0;
    font-size: .8rem;
    line-height: 1.2rem;
    letter-spacing: -.1px;
  }
}


// Media queries

@media all and (min-width: $md-breakpoint) {
  .article {
    width: 255px;
    padding: 0;
    margin: 22px 0 0;

    &:nth-of-type(3n),
    &:nth-of-type(4n) {
      padding-left: 0;
    }

    .article-content {
      padding: 21px 22px 22px 25px;

      .article-title {
        margin: 3px 0 6px;
      }
    }
  }
}
