// Components - Buttons

.btn {
  display: inline-block;
  padding: 10px 34px;
  margin: 16px 0;
  font-weight: 400;
  color: $white;
  text-transform: capitalize;
  background: linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
  border-radius: 25px;
}
